.sidebar-container {
  width: 25vw;
}
.sidebar-heads {
  font-size: 20px;
  font-family: 'Roboto';
  margin: 25px;
}
.dark-mode {
  color: #ffffff;
}
.white-mode {
  color: black;
}
.dark-mode-side {
  background-color: black;
}
.white-mode-side {
  background-color: #ffffff;
}
@media screen and (max-width: 756px) {
  .sidebar-heads {
    display: none;
  }
}
